body{
    background-color: rgb(124, 155, 166);
    display: flex;

    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

#booking_container{
    background-color: white;
    border: solid 1px black;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 30%;
    height: 50%;
    margin-top: 1%;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 8%;

}
#booking{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 39%;
    border: solid 1px black;
    max-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
}
#message_container{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 26.5%;
    border: solid 1px black;
    /* height: 40%; */
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 1%;
    margin-left: 40%;
    flex-wrap: wrap; /* Allow items to wrap as needed */
    align-items: flex-start; /* Align items at the start of the container */
    text-align: center;
    overflow: hidden;
    transition: min-height 1s ease-out, max-height 1s ease-out; /* Add min-height to the transition property */
    height: 44.5%;

}

#messages{
    border: solid black;
    position: absolute;
    left: 0;
    top: 25px;
    width: 91%;
    height: 80%;
}
#text_area{
    position: absolute;
    bottom: 10px;
    left: 30px;
    width: 300px;
}
#sendButton{
    position: absolute;
    bottom: 10px;
    right: 60px;
}
#back{
    position: absolute;
    top: 2px;
    left: 2px;
}
#msg_cont{
    display: none;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 400px;
    border: solid 1px black;
    /* height: 40%; */
    position: absolute;
    bottom: 0;
    left: 0;
    flex-wrap: wrap; /* Allow items to wrap as needed */
    align-items: flex-start; /* Align items at the start of the container */
    text-align: center;
    overflow: hidden;

}
#change_info_container{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 18%;
    border: solid 1px black;
    /* height: 40%; */
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 1%;
    margin-right: 8%;
    flex-wrap: wrap; /* Allow items to wrap as needed */
    align-items: flex-start; /* Align items at the start of the container */
    text-align: center;
    overflow: hidden;
    height: 44.5%


}
#feedback_container{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 35%;
    border: solid 1px black;
    /* height: 40%; */
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 1%;
    margin-left: 8%;
    flex-wrap: wrap; /* Allow items to wrap as needed */
    align-items: flex-start; /* Align items at the start of the container */
    text-align: center;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
    height: 30%
    /*display: flex;*/
    /*flex-direction: column;*/
}

